[project]
	description = Source code formatter for java
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/UK DEV Limited (ukdev)
[access "refs/for/refs/*"]
	read = group user/UK DEV Limited (ukdev)
	push = group user/UK DEV Limited (ukdev)
	label-Code-Review = -2..+2 group user/UK DEV Limited (ukdev)
	label-Verified = -1..+1 group user/UK DEV Limited (ukdev)
	rebase = group user/UK DEV Limited (ukdev)
	removeReviewer = group user/UK DEV Limited (ukdev)
	submit = group user/UK DEV Limited (ukdev)
[access "refs/heads/*"]
	read = group user/UK DEV Limited (ukdev)
	create = group user/UK DEV Limited (ukdev)
	push = +force group user/UK DEV Limited (ukdev)
	pushMerge = group user/UK DEV Limited (ukdev)
[access "refs/tags/*"]
	push = +force group user/UK DEV Limited (ukdev)
	pushTag = group user/UK DEV Limited (ukdev)
	pushSignedTag = group user/UK DEV Limited (ukdev)
